a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}img,video{width:100%;vertical-align:middle;}

// utiles 

.blanc {
    color: white;
}

// rond de couleurs

.color_grey{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #333;
}
.color_green{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #016934;
    margin-left: 50px;
}
.color_bleufonce{
    width: 100px;
    height: 100px;
    background: #000087;
}
.color_bleuclair{
    width: 100px;
    height: 100px;
    background: #106FDE;
}
.color_red{
    width: 100px;
    height: 100px;
    background: #E1043A;
}
.color_vert{
    width: 100px;
    height: 100px;
    background: #11A669;
}
.color_noir{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #000;
}
.color_blanc{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #ffffff;
    margin-left: 60px;
    box-shadow: 1px 1px 1px #000000;
}

// index.html

html{
    font-family: "Montserrat", sans-serif;
} 

a{
    text-decoration: none; 
    color: black;
    :hover{
    color: #df9240;
    }
    :active{
        color: #b84a51;
    }
    :focus{
        color: #b84a51;
    }
}
ul li{
    display: inline-block;
}
body{
    background-color: #f9f9f9;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
}
header{
    padding: 30px 40px 0 40px;
    height: 40px;
    width: 100%;
    display: flex;
    position: fixed; 
}
.container_logo{
    width: 50%;
    & > a > p {
        font-style: normal;
        font-weight: 500;
    }
}
.container_list{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.list1{
    width: 100%;
}
.container_menu{
    width: 2%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}
#Calque_1{
    display: none;
}
.container_fermer{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    padding: 30px 50px 0 0;
}
#Calque_2{
    width: 20px;
    height: 20px;
}
.container_list2{
    width: 100%;
    height: 90vh;
    padding-top: 280px;
}
.liste-sans-puce{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.liste-sans-puce > li {
    text-align: center;
    margin-top: 50px;
    display: block;
}
.liste-sans-puce > li > a {
    font-size: 4em;
    font-weight: 600;
}
#lightbox{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: black; /* Pour les vieux navigateurs <IE9 */
    background-color: #f9f9f9;
}
#lightbox:target{
    display: block;
}
#lightbox > ul {
    list-style-type: none;
    margin: 0 auto; /* pour <IE9 */
    margin: 10vh auto; /* vh incompris pour <IE9 */
    padding: 15px;
    width: auto;
    height: auto; /* pour <IE9 */
    border-radius: 8px;
    overflow-y: auto; /* Gestion du depassement du contenu (ascenseurs) */
    text-align: center;
}
.menu{
    font-style: normal;
    font-weight: 500;
    padding-left: 60px;
}
.container_section{
    width: 450vw;
    display: flex; 
    padding: 0 0 0 60px;
    margin: 0 0 0 0;
}
.container_text{
    width: 10%;
    height: 90vh;
    padding: 4% 0 0 0;
}
.container__text > h1{ 
    font-size: 4em;
    font-weight: 600;
    margin: 0 0 30px 0;
}
.container_scroll{
    display: flex;
    width: 200px;
}
article > h1 > p {
    font-weight: 500;
}
article {
    width: 100%;
}
.container_images{
    display: flex;
    width: 100%;
    padding: 150px 0 0 0;
}
.image{
    background: url("./img/projet_starbucks.jpg")no-repeat;
    width: 1280px;
    height: 720px;
    margin-left: 200px;
}
.image2{
    background: url("./img/projet_nuit_blanche.jpg")no-repeat;
    width: 1280px;
    height: 720px;
    margin-left: 200px;
}
.image3{
    background: url("./img/projet_street_mode.jpg")no-repeat;
    width: 1280px;
    height: 720px;
    margin-left: 200px;
}
.image4{
    background: url("./img/projet_interest.jpg")no-repeat;
    width: 1280px;
    height: 720px;
    margin-left: 200px;
}
.container_image > div{
    position: relative;
}
.container_title{
    padding-top: calc(720px - 100px); 
    padding-left: 30px;
}
.title_projet{
    font-size: 2em;
    font-weight: 600;
}
// .container_title > p{ 
//     opacity: 0 !important; 
// }
// .container_title > p:hover{ 
//     opacity: 1 !important;
//     transition: opacity 0.3s;
// }
footer{
    display: flex;
    width: 100%;
    height: 10vh;
    padding: 4vh 0 0 0;
    position: fixed;
    & > ul {
        width: 80%;
        padding: 0 0 0 40px;
        & > a {
            margin-left: 20px;
            & > li {
                font-size: 0.8em;
            }
        }
    }
}
.line2{
    width: 80px;
    height: 1px;
    background-color: black;
    margin: 7px 10px 0 10px;
}
.container_line{
    display: flex;
    width: 20%;
    padding-left: 50px;
    & > p {
        color: black;
    }
}
.line{
    width: 80px;
    height: 1px;
    background-color: black;
    margin: 7px 10px 0 10px;
    -webkit-animation: scroll 1s infinite;
    animation: scroll 1s infinite;
}

// animation 

@keyframes scroll {
    0% {
        width: 0px;
    }
    100% {
        width: 80px;
    }
}

// about.html

.overflow{
    background-color: #f9f9f9;
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
    padding: 0;

}
.container_article{
    width: 80%;
    height: 100vh;
    margin: auto;
    width: 90%;
}
.titre {
    font-size: 2.5em;
    text-align: center;
    font-weight: 600;
    padding-bottom: 150px;
}
.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-align: center;
    line-height: 50px;
    padding: 20% 0;
    margin: 100px 0 40px 0;
}
.moins_large{
    width: 80%;
    height: 100vh;
    margin: auto;
    margin-top: 100px;
    & > .container_desc1{
    width: 100%;
    padding: 1% 0 2% 0;
    margin-bottom: 30%;
    } 
}
.container_desc1 > #desc{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.moins_large > img {
    width: 100%;
}
.container-titre-color{
    padding: 100px;
}
.color-titre{
    font-size: 2em;
    text-align: center;
    font-weight: 700;
}



// starbucks.html


.container_para{
    height: 100vh;
    width: 100%;
}
.container_img{
    width: 100vw;
    height: 300px;
    background-image: url(./img/projet_starbucks.jpg);
    background-size: cover;
}
.container_article > .container-titre > .titre1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 5em;
}
h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    // text-decoration: underline;
}
.container_client{
    margin-right: 50px;
}
.client{
    display: block;
    width: 100%;
}   
.container_desc{
    padding-left: 40%;
    width: 100%;

}
.container_colors{
    display: flex;
    padding-bottom: 80px;
    & > p {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        margin: 45px 0 0 10px;
    }
}

.container_exa{
    display: flex;
    padding-bottom: 20px;
    & > p {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        margin: 45px 0 0 10px;
    }
}
.container_exa > p:nth-child(1){
    // margin-left: 28px;
    margin-right: 10px;
}

// nuitblanche.html

.container_img2{
    width: 100vw;
    height: 300px;
    background-image: url(./img/nuitblanch-hp.png);
    background-size: cover;
    background-position: 50% 50%;
}

// streetmode.html 


.container_article > .container-titre{
    width: 100%;
    height: 80%;
    text-align: center;
    display: block;
    padding: 45vh 0;
}

.texte{
    font-weight: 400;
}


//interest.html

.container_img4{
    width: 100vw;
    height: 300px;
    background-image: url(./img/projet_interest.jpg);
    background-size: cover;
    background-position: 10% 0%;
}
    // contact.html

.contact{
    background-color: #333;
}
.container_contact{
    height: 90vh;
    width: 50%;
    display: block;
    margin: auto;
    padding-top: 300px;
}
.question{
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 100px;
}
.container_input{
    margin: auto;
    text-align: center;
}
.container_flex {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.container_flex > input {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #fffdf0;
    border: solid #fffdf0;
    box-shadow: 3px 3px 3px #00000060;
}
.container_flex > input::placeholder{
    color: black;
    opacity: 0.4;
}
.container_input > textarea {
    background-color: #fffdf0;
    border: solid #fffdf0;
    box-shadow: 3px 3px 3px #00000060;
}
.container_input > textarea::placeholder{
    color: black;
    opacity: 0.4;
}
.container-button{
    width: 100%;
    padding: 30px 218px 0 0;
}
.button{
    background-color: #fffdf0;
    width: 150px;
    height: 30px;
    float: right;
    color: black;
    font-size: 0.9em;
    font-family: 'Montserrat' sans-serif;
    font-weight: 500;
    padding: 8px 0 0 0;
}



// responsive 



@media only screen and (max-width: 1200px){
    // hp 
    body {
        width: 100vw;
        overflow-y: scroll;
        overflow-x: scroll;
    }
    .container_list{
        display: none;
    }
    .container_menu{
        padding-left: 48%;
    }
    #Calque_1{
        display: block;
        width: 20px;
        justify-content: flex-end;
    }
    .container_section{
        width: 1200vw;
        flex-wrap: wrap;
        padding-left: 30px;
    }
    .container_text{
        padding-top: 2%;
        margin: 0;
        width: 80vw;
        height: 30vh;
    }
    .container__text > h1 {
        line-height: 110%;
        font-size: 3em;
        text-align: center;
    }       
    .container_scroll{
        visibility: hidden;
    }
    .container_images{
        padding: 60px 0 0 0;
    }
    .image {
        width: 1280px;
        height: 720px;
        margin-left: 0;
    }
    .image2 {
        width: 1280px;
        height: 720px;
    }
    .image3 {
        width: 1280px;
        height: 720px;
    }
    .image4 {
        width: 1280px;
        height: 720px;
    }
    footer{
        visibility: hidden;
    }


    // starbucks / nuitblanche / streetwear / interest.html 


    .moins_large{
        width: 70%;
    }
    .container_desc{
        width: 100%;
    }
    .container_client{
        width: 100%;
    }
    .client{
        display: flex;
    }
    //about.html

    
    .titre {
        padding-bottom: 100px;
    }


    // contact.html


    .container_contact{
        padding-top: 200px;
        width: 70%;
    }
    .question{
        line-height: 150%;
    }
    .container_flex{
        padding: 0;
        flex-wrap: wrap;
    }
    .container_flex :nth-child(1){
        margin-bottom: 20px;
    }
    .container_flex > input{
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }
    textarea{
        width: 100%;
    }
    .container-button{
        padding: 30px 0 0 218px;
    }
    .footer{
        visibility: visible;
    }
}

// iphone6/7/8

@media only screen and (width: 375px){

    // hp 

    header{
        width: 100vw;
    }
    #Calque_1{
        display: block;
    }
    .menu {
        font-size: 0.7em;
    }
    .container_text{
        padding-top: 120px;
    }
    .container__text > h1 {
        line-height: 120%;
        font-size: 2em;
        text-align: center;
    } 
    .container_logo > a > p {
        font-size: 0.7em;
    }
    .container_section{
        width: 1900vw;
    }
    .image {
        width: 1280px;
        height: 720px;
        margin-left: 0;
    }
    .image2 {
        width: 1280px;
        height: 720px;
        margin-left: 200px;
    }
    .image3 {
        width: 1280px;
        height: 720px;
        margin-left: 200px;
    }
    .image4 {
        width: 1280px;
        height: 720px;
        margin-left: 200px;
    }

    // contact 
    .contact {
        height: 140vh;
    }
    .container_contact {
        margin-bottom: 150px;
    }
}
